* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* One way to center a ele */
  /* display: grid;
    place-items: center;
    padding-top: 120px; */
}
canvas {
  border: 10px solid #333;
  /* Another way to center a ele */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
}
#patternImage{
  display: none;
}
