* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
}

.inputAngle {
  position: absolute;
  right: 1vh;
  bottom: -98vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  display: none;
}