body {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -0.3pc;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: #333;
  color-scheme: dark;
}

:root {
  --color-border: #888;
  --text-color: #fff;
  --cta-color: #3f51b5;
}

.container {
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
}

.container.--hide {
  filter: blur(2px);
}

.task__heading {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  text-align: center;
  background-color: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  transition: top 0.3s ease-in;
}
.task__heading.--hide {
  top: -50px;
}
.task__todaysDate {
  margin: 0;
  margin-bottom: auto;
  margin-top: 10px;
}
.task__tabsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 50px;
  border-top: 1px solid var(--color-border);
  padding: 0 20px;
  gap: 20px;
}
.task__tabsList {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  letter-spacing: normal;
}

.task__tab {
  opacity: 0.6;
  padding: 4px;
}
.task__tab.--users-task {
  margin: 0 10px;
}
.task__tab.active {
  opacity: 1;
  transform: skewX(-10deg);
  border: 1px solid var(--color-border);
}

.task__tab[data-taskid="1"] {
  background-color: red;
}
.task__tab[data-taskid="2"] {
  background-color: orange;
}
.task__tab[data-taskid="3"] {
  background-color: yellow;
}
.task__tab[data-taskid="4"] {
  background-color: blue;
}
.task__tab[data-taskid="5"] {
  background-color: pink;
}
.task__tab[data-taskid="6"] {
  background-color: purple;
}
.task__tab[data-taskid="7"] {
  background-color: green;
}
.task__tab[data-taskid="8"] {
  background-color: azure;
}

.task__wrapper {
  padding: 0 5%;
  margin-bottom: 10%;
  margin-top: 100px;
}
.task__daylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task__hour {
  width: 90%;
  height: 15vh;
  border-bottom: 1px solid var(--color-border);
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.task__hour span {
  height: 100%;
  width: 50px;
  letter-spacing: -1px;
  display: flex;
  justify-content: start;
  align-items: start;
  border-right: 1px solid var(--color-border);
  padding-top: 15px;
}
.task__hourtaskList {
  width: calc(100% - 50px);
  height: 100%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* -webkit-tap-highlight-color: transparent; */
}
.task__hourtaskList:hover {
  border: 2px solid var(--cta-color);
}

.time__editCursor,
.time__nowCursor {
  align-self: flex-start;
  height: 2px;
  position: absolute;
  top: 0%;
  width: calc(100% - 50px);
  right: 0;
}

.time__editCursor:before,
.time__nowCursor:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: inherit;
  position: absolute;
  left: -10px;
  top: -450%;
  z-index: 1;
}

.time__nowCursor {
  background: var(--text-color);
}

.time__editCursor {
  background: var(--cta-color);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  padding-top: 15%;
  letter-spacing: -0.5px;
  background: rgb(255, 255, 255, 0.1);
  display: none;
}
.modal.--show {
  display: flex;
}
.modal__wrapper {
  height: 20%;
  background: #333;
  border: 3px solid var(--color-border);
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  z-index: 9999;
}

.modal__Heading {
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid var(--color-border);
}
.modal__form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.modal__form > label:not([for="submitLabel"]) {
  width: 100%;
}
.modal__form > label[for="submitLabel"] {
  align-self: flex-end;
}
@media screen and (max-width: 1023px) {
  .task__tabsWrapper {
    width: 90%;
  }
  .task__tabsList {
    overflow: hidden;
    overflow-x: scroll;
    /* padding: 10px; */
  }
}
